
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
img{
    width: 6rem;
    margin: 1rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15p
}
#two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn {
    background-color: #e49ecf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .3rem !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  .gamestyle-defaults{
    color: #f19dd8;
  }

    input {
      transition: .4s border-color;
      padding: 0.7rem;
      border-radius: 1rem;
      border: 1px solid  #e49ecf;
      text-align: center;
    }
    input:focus {
        outline: none !important;
        border: 1px solid  #e49ecf;
        box-shadow: 0 0 10px #e26cbf;
      }

    .error {
      opacity: 1;
      position: absolute;
      right: 0;
      transition: .4s opacity, .4s color;
    }



#three{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 92vh;
    font-size: 10px;
}

#three img{
    width: 80vw !important;
  }
